terraform.tfvars
.terraform/providers/registry.terraform.io/hashicorp/google/6.18.1/windows_amd64/LICENSE.txt
.terraform
k8secrets.yaml
# .gitignore

# Avoid committing sensitive files
*.tfvars
gcp-key.json  # Don't commit your local credentials file
.terraform/
terraform.tfstate
terraform.tfstate.backup
gcp_credentials.json